html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #bbf1f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #bbf1f7 0%, #effcff 39%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #bbf1f7 0%,#effcff 39%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #bbf1f7 0%,#effcff 39%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbf1f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

body {
  font-family: 'Oxygen', sans-serif;
}

#root, #container {
  overflow: auto;
  margin-left: 15px;
}

h1.title {
  margin: 30px 30px 30px 110px;
  color: #3cb0fd;
  font-size: 48px;
  text-shadow: 1px 1px 1px #000;
}

h2.attribution {
  font-size: 18px;
  margin: -20px 0px 20px 113px;
  text-decoration: italicize;
}

a {
  text-decoration: none;
  color: #4cc0ff;
}

div.algo-panel {
  height: 400px;
  float: left;
}

button {
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  text-shadow: 1px 1px 4px #666666;
  box-shadow: 0 4px #27496d;
  color: #fff;
  background: #3498db;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin: 8px 4px;
  width: 14em;
  float: left;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

button:focus {
  outline: 0;
}

button:active {
  box-shadow: 0 2px #27496d;
  transform: translateY(2px);
}

ul.buttons {
  list-style-type: none;
  overflow: hidden;
}

div.iterations, div.temp {
  padding: 10px 35px;
  margin-left: 10%;
  color: #777;
  text-align: center;
  font-family: "Oxygen Mono";
}

div.iterations {
  font-size: 30px;
}

div.temp {
  font-size: 15px;
}

.board {
  width: 400px;
  height: 400px;
  float: left;
}

.square {
  width: 50px;
  height: 50px;
  float: left;
}

.black {
  background-color: #0064B5;
}

.white {
  background-color: #99D1FF;
}

.queen {
  font-size: 25px;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
  padding: 10px;
  width: 100%,
  height: 100%,
}

.queen small {
  font-size: 10px;
}

.slider {
  float: left;
  padding: 30px;
  width: 300px;
}

div.row {
  clear: both;
  float: left;
  display: block;
  position: relative;
}
