.board {
  width: 50vw;
  height: 50vh;
}

.square {
  width: 12.5%;
  height: 12.5%;
  float: left;
}

.black {
  background-color: 'black';
}

.white {
  background-color: 'white';
}

.queen {
  font-size: 25px;
  color: #AAA;
  padding: 10px;
  width: 100%,
  height: 100%,
}

.queen small {
  font-size: 10px;
}
